@import "../../../styles/helpers/variables";
@import "../../../styles/helpers/mixins";

.post-manage {
  &__image-wrap {
    flex: 0 0 410px;
  }

  .form {
    &__upload {
      &__image {
        width: 100%;
        height: 230px;
      }
    }
  }

  @include media(md) {
    &__image-wrap {
      flex: 0 0 auto;
    }
  }
}
