<form [formGroup]="userForm" class="form" [ngClass]="{submitted: isSubmitted}" (ngSubmit)="onSubmit()">
  <div class="form__description">
    Please enter your email address to request a password reset.
  </div>

  <div class="form__group form__group--required">
    <input type="email" id="email" class="form__element" formControlName="email" />
  </div>

  <div class="form__submit form__submit--center">
    <button [disabled]="loading" class="btn btn--red" type="submit">Reset Password</button>
  </div>

  <div class="form__description">
    Go back to? <a routerLink="/sign-in">Sign in</a>
  </div>
</form>
