<div class="page-404">
  <div class="container">
    <div class="page-404__inner">
      <h2 class="page-404__title">404</h2>
      <div class="page-404__subtitle">Oops! Something went wrong here...</div>
      <div class="page-404__description">
        Sorry, we cannot find that page!<br />
        Either something went wrong or the page doesn't exist anymore.
      </div>
      <div class="btn-wrap">
        <a href="#" routerLink="/admin/dashboard" class="btn btn--red">Back To Dashboard</a>
      </div>
    </div>
  </div>
</div>
