<div *ngFor="let alert of alerts" class="{{ cssClass(alert) }}" role="alert">
    <div class="alert__container">
        <div class="alert__icon"><i class="{{ iconClass(alert) }}"></i></div>
        <div class="alert__title">{{ alert.title }}</div>
        <div class="alert__text">{{ alert.message }}</div>
        <div class="alert__btns">
            <button *ngIf="alert.type === 3" class="{{ btnClass(alert) }}" type="button" (click)="removeAlert(alert)">Try Again</button>
            <button *ngIf="alert.type === 0" class="{{ btnClass(alert) }}" type="button" (click)="removeAlert(alert)">OK</button>
        </div>
        <button class="alert__close" type="button" (click)="removeAlert(alert)"><i class="la la-close"></i></button>
    </div>
</div>