.admin {
  .loading {
    color: $gray-2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 260px;
    bottom: 0;

    &--absolute {
      position: absolute;
      left: 0;
    }
  }

  @include media(md, min) {
    &--sidebar-hidden {
      .admin__content {
        padding-left: 80px;
      }

      .loading {
        left: 80px;
      }
    }
  }

  @include media(md) {
    .loading {
      left: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 0 0 260px;
    transition: all 0.2s ease;

    @include media(md) {
      padding: 57px 0 0;
    }

    &__inner {
      padding: 40px $grid-gutter-width / 2 0;
      flex-grow: 1;

      @include media(md) {
        padding: 7.5px 7.5px 0;
      }
    }
  }
}
