.cta-mobile {
    position: fixed;
    bottom: -100%;
    left: -99999px;
    width: 100%;
    background: $black;
    transition: bottom 1s linear, left 0s 1s linear;
    padding: 10px;
    z-index: 1000;

    .base-btn-wrap {
        padding: 4px 0;
    }

    .base-btn {
        font-size: em(16);
        line-height: 20px;
        border-radius: 24px;
        padding: 9px 5px;
        min-width: 110px;
    }

    .cta-title {
        font-size: em(18);
        line-height: 21px;
        color: $white;
    }

    .pull-left {
        a {
            font-family: $bold-font;  
            font-size: em(14);
            line-height: 16px;
            border-bottom: 1px solid currentColor;
            margin: 0 12px 0 0;

            &:hover {
                color: $white;
            }
        }
    }

}

@media screen and (max-width: 767px) {
    .cta-mobile {
        &.show {
            bottom: 0;
            left: 0;
            transition: bottom 1s linear;
        }
    }
}