
/* ------------------------------ */
/* ----------- ANIMATION ----------- */
/* ------------------------------ */
.animate {
	transition: all .7s ease;

	&.from-left {
		opacity: 0;
		transform: translateX(-50%);

		&.animated {
			opacity: 1;
			transform: translateX(0);
		}
	}

	&.from-right {
		opacity: 0;
		transform: translateX(50%);

		&.animated {
			opacity: 1;
			transform: translateX(0);
		}
	}

	&.from-top {
		opacity: 0;
		transform: translateY(-50%);

		&.animated {
			opacity: 1;
			transform: translateX(0);
		}
	}

	&.scale {
		transform: scale(0.1);
		opacity: 0;

		&.animated {
			transform: scale(1);
			opacity: 1;
		}
	}

	&.rotate-from-left {
		opacity: 0;
		transform: rotateY(-90deg);
		backface-visibility: hidden;

		&.animated {	
			opacity: 1;
			transform: rotateY(0deg);
		}
	}

	&.opacity {
		opacity: 0;

		&.animated {
			opacity: 1;
		}
	}
}