//fonts variables
$generalFont: 'Raleway';

//fonts sizes
$generalFontSize: 16px;

//bg colors variables
$bodyBg: #fff;
$secondBg: #111;

//text colors
$generalColor: #000;
$linkColor: #000;

// Other colors
$secondaryColor: #5dca88;
