@media screen and (max-width: 1199px) {
	.menu-overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,.7);
		z-index: 9;
		transition: all .3s ease;
	}

	#header {
		background: transparent;

		&.menu-opened {

			.header-desctop {
				transform: translateX(0);
			}
		}

		.logo {
			float: none;
			margin-bottom: 25px;
		}

		nav {
			margin-left: 0;
			margin-bottom: 25px;

			ul {
				flex-direction: column;
			}

			a {
				margin-right: 0;
				font-size: 24px;
				margin-bottom: 15px;
			}
		}

		.contacts {
			flex-direction: column;

			li {
				margin-left: 0;
				margin-bottom: 10px;
			}
		}

		.flex {
			align-items: stretch;
		}
	}

	.header-desctop {
		transition: all .3s ease;
		position: fixed;
		z-index: 9;
		padding: 30px 15px;
		transform: translateX(-100%);
		top: 0;
		left: 0;
		bottom: 0;
		width: auto;
		background: #fff;
		z-index: 10;

		.flex {
			flex-direction: column;
		}
	}

	.header-mobile {
		display: block;
		position: fixed;
		padding: 40px 0;
		background: #fff;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 3;
		box-shadow: 0 1px 3px rgba(0,0,0,.3);

		.logo {
			position: absolute;
			width: 250px;
			left: 30px;
			top: 50%;

			a {
				display: block;
				width: 100%;
			}
		}

		a {
			position: absolute;
			right: 15px;
			height: 30px;
			width: 50px;
			transform: translateY(-50%);

			span {
				position: absolute;
				width: 100%;
				left: 0;
				top: 2px;
				background: #5DCA88;
				height: 3px;

				&:nth-child(2) {
					top: 50%;
					transform: translateY(-50%);
				}

				&:nth-child(3) {
					top: auto;
					bottom: 2px;
				}
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	.feature {

		.tab-icon {
			font-size: 90px;
		}
	}

	.feature {

		.tabs-nav {

			.current {
				height: 63px;
			}

			ul {
				
				 a {
				 	font-size: 18px;

				 	.fa {
				 		font-size: 20px;
				 	}
				 }
			}
		}
	}

	.h3 {
		font-size: 30px;
	}

	.app-description {
		padding-top: 70px;
		height: 535px;
		box-shadow: none;
	}
}
@media screen and (max-width: 979px) {
	h2.colored {
		font-size: 26px;
	}

	.about-app .h3 {
		font-size: 26px;
	}
}
@media screen and (max-width: 767px) {
	.feature .content {
		flex-direction: column;
	}

	.feature {

		.tab-content {
			text-align: center;
		}

		.tabs-nav {
			margin-bottom: 20px;

			.current {
				display: none;
			}

			ul {
				text-align: center;
				border: none;

				a {
					padding: 8px 0;
				}
			}
		}
	}

	.gallery .img-block img {
		max-height: 200px;
	}

	.gallery .slick-next {
		right: 0;
	}

	.gallery .slick-prev {
		left: 0;
	}
	
	.gallery .slick-next::before, .gallery .slick-prev::before {
		font-size: 35px;
	}

	.about-app .flex {
		flex-direction: column;
		text-align: center;

		.btn a {
			margin: 0 auto;
		}

		.img-block {
			order: -1;
			margin-bottom: 10px;

			img {
				max-height: 200px;
			}
		}
	}

	h2.colored {
		text-align: center;

		&::after {
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.h2 {
		font-size: 30px;
	}

	.gallery {
		padding: 50px 0 50px;

		.section-description {
			margin-bottom: 30px;
		}
	}
	
	.reviews .reviews-text {
		font-size: 18px;
	}

	.reviews .reviewer-name {
		font-size: 18px;
	}

	.subscribe .form-holder input[type="submit"] {
		width: 95px;
		font-size: 16px;
	}

	footer .footer-nav ul a {
		margin: 0 4px;
		font-size: 12px;
	}
}