// Bootstrap
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$grid-gutter-width: 30px;

// Colors
$green: #107c10;
$default: #4c4a48;
$red: #d13438;
$blue: #0063b1;
$black: #1c1f23;
$black-2: #181b1e;
$gray: #ebedf2;
$gray-2: #9699a2;
$gray-3: #f7f7f7;
$gray-4: #f9f9f9;
$gray-5: #888;
$orange: #ff8c00;
$white: #fff;

$danger: $red;
$success: $green;

$brand-color-1: $red;
$brand-color-2: $black;

$main-bg: #eeeff5;

// Globals
$border-color: #ebedf2;
$input-color: #9699a2;
$input-placeholder: #b6b6b6;
$input-padding: 14px;

// Sidebar
$sidebar-bg: $black;
