//fonts variables
$generalFont: 'Open Sans';

//fonts sizes
$generalFontSize: 16px;

//bg colors variables
$bodyBg: #fff;
$secondBg: #111;

//text colors
$generalColor: #fff;
$linkColor: #fff;

// Other colors
$secondaryColor: #fcac45;
