// subreset
.h-nav ul,
.about-us-list ul,
.filters-list ul,
.social ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.light-bg {
	color: #999;
}
.dark-bg {
	background: #070707;
}
.pull-right {
	float: right;
}
.row-flex {
	 @extend .row;
	 float: none;
	 display: flex;
}
input[type="text"],
textarea {
	padding: 15px;
	width: 100%;
	border: 1px solid #999;
}
textarea {
	height: 165px;
	margin-bottom: 31px;
}
input[type="text"] {
	height: 42px;
	padding: 0 15px;
	margin-bottom: 26px;
}
/* ------------------------------ */
/* ----------- HEADER ----------- */
/* ------------------------------ */
#header {
	background: $secondBg;

	.logo {
		float: left;

		a {
			font-family: 'Lato';
			font-weight: bold;
			text-transform: uppercase;
			font-size: 24px;
		}
	}

	.main-header {
		text-align: center;
		flex-basis: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		padding-bottom: 219px;

		h1 {
			font-size: 44px;
			color: #999;
			font-weight: 300;
			text-transform: uppercase;
			margin: 0;
			letter-spacing: -2px;

			span {
				font-weight: 700;
				color: $secondaryColor;
			}
		}

		.description {
			font-size: 20px;
			letter-spacing: -1px;

			span {
				font-weight: 700;
			}
		}

		.scroll-to {
			position: absolute;
			bottom: 90px;
			left: 50%;
			transform: translateX(-50%);

			&:hover {
				background: $secondaryColor;
			}
		}
	}

	.first-screen {
		padding-top: 51px;
		display: flex;
		flex-direction: column;
	}
}


.scroll-to {
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background .3s ease;

	&.to-top {
		position: fixed;
		right: 20px;
		bottom: 100px;
		border-color: $secondaryColor;
		color: $secondaryColor;
		transition: all .3s ease;

		&:hover {
			color: #fff;
		}
	}

	&:hover {
		background: $secondaryColor;
	}
}

.h-nav {
	@include clearfix();
	height: 30px;
	position: relative;

	.menu-toggle {
		display: none;
	}

	ul {
		padding-top: 3px;
		float: right;
	}
	
	li {
		display: inline-block;
		margin-left: 7px;

		a {
			font-size: 14px;
			text-transform: uppercase;
			font-family: 'Lato';
			font-weight: 700;
			display: block;
			padding: 0 7px 21px;
			position: relative;

			&:hover {

				&:before,
				&:after {
					opacity: 1;
				}

				&:after {
					transform: translateX(0);
				}
			}

			&:before,
			&:after {
				opacity: 0;
				transition: all .3s ease;
			}

			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 3px;
				background: rgba(255,255,255,.1);
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				transform: translateX(-100%);
				width: 50%;
				height: 3px;
				background: $secondaryColor;
			}
		}
	}
}
/* ------------------------------ */
/* ----------- MAIN ----------- */
/* ------------------------------ */	
.img-cropper {
	overflow: hidden;
}

.section-h {
	padding-left: 10px;
	padding-right: 10px;
}

/* ABOUT US */
.about-us {
	padding: 94px 0 70px;

	.section-header {
		
		.subheader {
			color: #636363;
			font-size: 20px;
			text-transform: uppercase;
		}

		h2 {
			color: #222;
			font-size: 34px;
			margin: 0 0 25px;
			font-weight: normal;
			text-transform: uppercase;
			letter-spacing: -0.8px;
			position: relative;
			padding-bottom: 15px;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100px;
				height: 4px;
				background: $secondaryColor;
			}

			span {
				font-weight: bold;
			}
		}
	}

	.about-us-text {
		font-size: 18px;
		color: #6c6c6c;
		letter-spacing: -.8px;
		margin-bottom: 37px;
	}

	.about-us-list {
		padding-left: 25px;
		margin-bottom: 11px;

		li {
			font-size: 18px;
			color: #5a5a5a;
			letter-spacing: .2px;
			font-style: italic;
			margin-bottom: 7px;
			letter-spacing: -.8px;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				height: 10px;
				width: 10px;
				border: 2px solid #5a5a5a;
				border-radius: 50%;
				left: -24px;
				top: 7px;
			}
			
			&:before {
				content: '';
				width: 4px;
				height: 4px;
				background: #5a5a5a;
				border-radius: 50%;
				position: absolute;
				top: 12px;
				left: -19px;
			}

			span {
				font-weight: 600;
				font-style: normal;
			}
		}
	}

	img {
		max-width: none;
	}

	.btn {
		margin-left: 15px;
		transition: all .3s ease;

		&:hover {
			background: $secondaryColor;
			color: #fff;
		}
	}
}

.btn {
	color: #616161;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	border: 1px solid #616161;
	border-radius: 2px;
	padding: 5px 10px;
	padding: 14px 30px;
}

.our-team {
	padding: 85px 0 75px;

	.photo {
		width: 127px;
		height: 127px;
		display: inline-block;
		background: #d7d7d7;
		border-radius: 50%;
		margin-bottom: 9px;
	}

	.slider {
		padding: 93px 0 58px;

		.name {
			font-size: 20px;
			font-weight: bold;
		}

		.position {
			font-size: 16px;
			margin-bottom: 29px;
		}

		.description {
			font-size: 14px;
			line-height: 23px;
		}

		.slick-dots li {
			width: 12px;
			height: auto;
		}
	}

	.slick-slide {
		text-align: center;
		padding: 0 15px;
	}
}

.slick-dots li.slick-active button {
	background: $secondaryColor;
}

.slick-dots {
	left: 0;
	right: 0;
	width: auto;
}

.center {
	float: none !important;
	margin: 0 auto;
}

.slick-dots li button {
	padding: 0;
	font-size: 0;
	width: 9px;
	height: 9px;
	background: #fff;
}
.slick-dots li.slick-active button {
	background: $secondaryColor;
}

.slick-dots li button {
	padding: 0;
	font-size: 0;
	width: 9px;
	height: 9px;
	background: #fff;
}

.dark-bg .section-h {
	color: #fff;
}

.light-bg  .section-h {
	color: #222;
}

.section-h {
	position: relative;
	font-size: 44px;
	padding-bottom: 36px;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	margin: 0;

	span {
		font-weight: 600;
	}
}

.section-h::before {
	content: '';
	position: absolute;
	width: 100px;
	height: 5px;
	background: $secondaryColor;
	bottom: 15px;
	left: 50%;
	margin-left: -50px;
}

.section-h::after {
	content: '';
	position: absolute;
	width: 68px;
	height: 5px;
	background: $secondaryColor;
	bottom: 0px;
	left: 50%;
	margin-left: -34px;
}

.services {
	padding: 83px 0 98px;

	.description {
		text-align: center;
		color: #6c6c6c;
		font-size: 16px;
		font-style: italic;
		margin-bottom: 86px;
	}

	.services-outer {
		padding-top: 20px;
		@include clearfix();
	}

	.section-h {
		margin-bottom: 20px;
	}

	.icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 125px;
		height: 125px;
		border: 5px solid $secondaryColor;
		border-radius: 50%;
		margin: 0 auto 16px;

		.fa {
			color: #000;
			font-size: 50px;
		}
	}

	.service {
		text-align: center;
		color: #222;
	}

	.service-name {
		font-size: 25px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 9px;
	}
	
	.service-description {
		font-size: 14px;
	}
}

.slider-2 {
	padding-bottom: 92px;
}

.our-clients {
	padding: 85px 0 80px;

	.section-h {
		margin-bottom: 99px;
	}

	.slick-initialized .slick-slide {
		text-align: center;

		img {
			display: inline-block;
		}
	}
}

.our-works {
	padding: 84px 0 71px;

	.section-h {
		margin-bottom: 37px;
	}

	.filters  {
		margin-bottom: 44px;
		@include clearfix();
	}
	
	.filters-h {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 18px;
		float: left;
	}

	.description {
		text-align: center;
		font-style: italic;
		margin-bottom: 106px;
	}

	.filters-list {

		ul {
			float: right;
		}

		li {
			 display: inline-block;

			 &:last-child {

			 	a {
					padding-right: 0;
					border-right: 0;
			 	}
			 }
		}

		a {
			color: #6c6c6c;
			font-size: 18px;
			display: block;
			border-right: 1px solid #6c6c6c;
			padding: 0 12px;

			&:hover {
				color: #222;
			}

			&.active {
				font-weight: 600;
				color: #222;
			}
		}
	}
}

.work {
	position: relative;
	margin-bottom: 30px;

	img {
		display: block;
		width: 100%;
		transition: opacity .5s ease;
	}

	&:hover {
		
		img {
			opacity: 0;
		}

		.work-content {
			visibility: visible;
			transform: scale(1);
		}
	}
}

.work-content {
	position: absolute;
	top: 0;
	left: 15px;
	right: 15px;
	bottom: 0;
	background: #222;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	transform: scale(0);
	transition: all .3s ease;
	
	h3 {
		margin: 0;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 20px;
		margin-bottom: 5px;
		padding: 0 10px;
		text-align: center;
	}

	span {
		font-size: 14px;
		color: #b2b2b2;
		display: block;
		margin-bottom: 25px;
	}

	a {
		color: $secondaryColor;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		display: flex;
		width: 40px;
		height: 40px;
		border: 1px solid $secondaryColor;
		border-radius: 50%;
		transition: opacity .3s ease;

		&:hover {
			opacity: .5;
		}
	}
}

.testimonials  {
	padding: 85px 0 79px;
	text-align: center;

	.slider-3 {
		padding-bottom: 60px;
	}

	.section-h {
		margin-bottom: 79px;
	}

	.testimonials-text {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 39px;
	}

	.user {
		font-size: 18px;
		font-weight: 300;

		.name {
			font-weight: 600;
		}
	}
}

.contact-us {
	padding: 84px 0 102px;

	.section-h {
		margin-bottom: 37px;
	}

	.description {
		text-align: center;
		color: #6c6c6c;
		font-size: 16px;
		font-style: italic;
		margin-bottom: 91px;
	}
	
	.contact-form {

		label {
			color: #636363;
			font-size: 14px;
			display: block;
			margin-bottom: 5px;
		}
	}

	.send-btn {
		background: $secondaryColor;
		padding: 9px 61px;
		border: none;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		transition: background .3s ease;

		&:hover {
			background: darken( $secondaryColor, 10% );
		}
	}
}

footer {
	padding: 30px 0 32px;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.copyright {
		flex-basis: 50%;
		color: #b2b2b2;
		font-size: 12px;
		letter-spacing: .4px;

		span {
			font-weight: bold;
		}
	}

	.social {
		flex-basis: 50%;

		ul {
			float: right;
		}

		li {
			float: left;
			margin-left: 12px;

			a {
				font-size: 14px;
				width: 32px;
				height: 32px;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 2px solid #b2b2b2;
				border-radius: 50%;
				color: #b2b2b2;
				transition: all .3s ease;

				&:hover {
					color: #222;
					background: #b2b2b2;
				}
			}
		}
	}
}