@media screen and (max-width: 1023px) {
	.about-us {

		img {
			max-width: 100%;
			margin-left: 10%;
		}
	}

	.services .service {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 767px) {
	.h-nav ul {
		display: none;
		position: absolute;
		left: -15px;
		right: -15px;
		background: #111;
		z-index: 9;
		top: 40px;
		padding: 20px 10px;
		border-bottom: 1px solid $secondaryColor;

		li {
			display: block;
			text-align: center;
			margin-bottom: 15px;
		}
	}

	.h-nav .menu-toggle {
		display: block;
		position: absolute;
		top: -8px;
		right: 15px;
		font-size: 32px;
	}

	#header .main-header {
		padding-bottom: 80px;
	}

	#header .main-header .scroll-to {
		bottom: 40px;
	}

	.scroll-to.to-top {
		right: 5px;
		bottom: 5px;
	}

	.our-clients .slick-initialized .slick-slide {
		padding: 0 15px;
	}

	.our-works .filters-h {
		float: none;
		margin-bottom: 25px;
	}

	.our-works .filters-list ul {
		float: none;
	}

	.our-works .filters-list a {
		font-size: 14px;
		padding: 0 2px;
	}

	footer .container {
		flex-direction: column;
	}

	footer .copyright {
		order: 2;
		text-align: center;
	}

	footer .social {
		margin-bottom: 20px;
	}

	.our-clients .slick-initialized .slick-slide img {
		max-width: 80%;
	}
}